adafruit-circuitpython-minimqtt
adafruit-circuitpython-logging
adafruit-blinka
adafruit-circuitpython-tmp117
adafruit-circuitpython-neopixel
adafruit-circuitpython-max1704x
adafruit-circuitpython-ahtx0
adafruit-circuitpython-sht4x
