name: Python checks

on:
  push:
    paths:
      - "**.py"
      - .github/workflows/python-checks.yml
      - .isort.cfg

jobs:
  checks:
    name: Python checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v5
        with:
          submodules: recursive
      - uses: actions/setup-python@v6
        with:
          python-version: "3.11"
      - name: Update pip
        run: |
          python -m pip install --upgrade pip
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          python3 -m pip install pytest
      - name: Run black in check mode
        run: |
          pip install black
          black --check **.py
      - name: Run isort in check mode
        run: |
          pip install isort
          isort **.py  --check --diff
      - name: Run pylint
        run: |
          pip install pylint
          pylint --disable=duplicate-code **.py
      - name: Run mypy type checker
        run: |
          pip install mypy
          mypy --ignore-missing-imports **.py
      - name: run pytest
        run: |
          pytest -vvv
